@media screen and (min-width:900px) {
    .composition {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .resto,
    .menu,
    .deguster,
    h3 {
        margin-right: 20px;
        gap: 10px;
    }

    .cartes {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        height: 800px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .cartepalette {
        width: 40%;
        margin-left: 0px;
        margin-top: 0px;

    }

    .textecarte {
        left: 37%;
    }

    .footer {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 500;
    }

    .media {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

    }

    main {
        width: 70%;
    }

    .titre1 {
        font-size: x-large;
        justify-content: center;
        gap: 80px;
    }

    .lapalette {
        justify-content: center;
    }

    input:hover~.icon {
        cursor: pointer;
        margin-right: 0px;
    }

    input:hover~.fas {
        transition-duration: 1s;
        cursor: pointer;
        opacity: 1;
    }

}